body{
    background-color:black;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';

}
.container{
    width: 450px;
    height: fit-content;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
   
}

.header-post{
    height: 60px;
    display: inline-flex;
    width: 450px;
    background-color: white;
    align-items: center;
    
}
.header-post p{
  padding-right: 20rem;
}
.header-post i{
    padding: 20px;
}


.photo-post{
    height: 450px;
    width: 450px;
    background-image: url(https://m.media-amazon.com/images/I/71Zz2ufujtL.jpg);
    background-size: contain;
}

.description-post{
    background-color: white;
    
  display: block;
    color: black;
    padding: 10px
}

i{
    font-size: 1.5rem;
    padding: 2px;
   
}

.icon-left{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    

}
.icon-left i{
   margin: 5px;
    

}




.icon-right{
    margin-left: 270px;
    padding: 10px;
    
}

